.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 1cm;
  margin-bottom: 0.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: black;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

.Column {
  max-width: 50%;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
